header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 50px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.contenido {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
}

.contenido h2 {
  margin: 0;
}

.barra-lateral {
  background-color: #f5f5f5;
  width: 200px;
  margin-right: 20px;
}

.barra-lateral ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.barra-lateral li {
  margin-bottom: 10px;
}

.barra-lateral a {
  text-decoration: none;
  color: #333;
}

.contenido-principal {
  flex: 1;
}
